{% extends './base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="nav-wrapper">
                        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" href="{% url 'atl_school_details' %}" aria-selected="true">
                                    <i class="ni ni-cloud-upload-96 mr-2"></i>School Details For ATL Incharge</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" href="{% url 'atl_incharge_info' %}" aria-selected="true">
                                    <i class="ni ni-cloud-upload-96 mr-2"></i>School ATL Incharge Information</a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-wrapper">
                        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-4-tab" href="{% url 'atl_status' %}" aria-selected="false">
                                    <i class="ni ni-calendar-grid-58 mr-2"></i>ATL Establishment Status</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" href="{% url 'teacher_nomini' %}" aria-selected="false">
                                    <i class="ni ni-bell-55 mr-2"></i>Teacher Nomination Details</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <h1>School Details</h1>
                                <div class="p-4 bg-secondary">
                                    <form  method="post" class="needs-validation" id="atlpform"
                                           data-package-url="{% url 'ajax_load_package' %}">
                                    {% csrf_token %}
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col">
                                                    {{ form.school_name|as_crispy_field }}
                                                </div>
                                                <div class="col">
                                                    {{ form.school_regId|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <h3>Address Details</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col">
                                                        {{ form.country|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        {{ form.state|as_crispy_field }}
                                                    </div>
                                                    <div class="col">
                                                        {{ form.city|as_crispy_field }}
                                                    </div>
                                                    <div class="col">
                                                        {{ form.pin_code|as_crispy_field }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    {{ form.email|as_crispy_field }}
                                                </div>
                                                <div class="col">
                                                    {{ form.phone|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    {{ form.affiliation|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <input type="text" class="form-control" id="affi_body" name="other_affi" placeholder="Other Board" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col">
                                                    <button type="button" onclick="checkData()" class="btn btn-primary" data-toggle="modal" data-target="#Modal">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade bd-example-modal-lg" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="container-fluid">
                                                            <div class="form-group">
                                                                <div class="table-responsive">
                                                                    <table class="table align-items-center table-flush">
                                                                        <thead class="thead-light">
                                                                            <tr>
                                                                                <th scope="col">School Name</th>
                                                                                <th scope="col">Registration ID</th>
                                                                                <th scope="col">Country</th>
                                                                                <th scope="col">State</th>
                                                                                <th scope="col">City</th>
                                                                                <th scope="col">Pin-Code</th>
                                                                                <th scope="col">Email</th>
                                                                                <th scope="col">Phone</th>
                                                                                <th scope="col">Affiliation Body</th>
                                                                                <th scope="col">Other Board</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td id="school_name"></td>
                                                                                <td id="school_reg"></td>
                                                                                <td id="country"></td>
                                                                                <td id="state"></td>
                                                                                <td id="city"></td>
                                                                                <td id="pincode"></td>
                                                                                <td id="email"></td>
                                                                                <td id="phone"></td>
                                                                                <td id="affiliation_body"></td>
                                                                                <td id="other_affi"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" name="add_school_details" class="btn btn-primary my-4">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if messages %}
                                            <ul class="messages">
                                                {% for message in messages %}
                                                    {% if 'data_add_success' in message.tags %}
                                                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                                    {% endif %}
                                                    {% if 'incorrect_format' in message.tags %}
                                                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$("#affi_body").prop("disabled", true);

function checkData() {
    $("#school_name").html($("#id_school_name").val());
    $("#school_reg").html($("#id_school_regId").val());
    $("#country").html($("#id_country").val());
    $("#state").html($("#id_state").val());
    $("#city").html($("#id_city").val());
    $("#pincode").html($("#id_pin_code").val());
    $("#email").html($("#id_email").val());
    $("#phone").html($("#id_phone").val());
    $("#affiliation_body").html($("#id_affiliation option:selected").text());
    $("#other_affi").html($("#affi_body").val());

    };

$("#id_affiliation").change(function () {
  var affiId = $(this).val();

  if (affiId == '5'){
    $("#affi_body").prop("disabled", false);
  } else {
    $("#affi_body").prop("disabled", true);
  };

});
</script>

{% endblock %}