{% extends './base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="p-4 bg-secondary">
                    <form  method="post" class="needs-validation">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    {{ field.label_tag }} {{ field }}
                                    {{ field.help_text }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary my-4">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}