{% extends './base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div id="id01">
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Register New Student</h3>
                        </div>
                    </div>
                </div>
                <div class="p-4 bg-secondary">
                    <form  method="post" class="needs-validation" id="studentform"
                           data-city-url="{% url 'ajax_load_city' %}" data-school-url="{% url 'ajax_load_school' %}"
                           data-teachers-url="{% url 'ajax_load_teachers' %}" data-section-url="{% url 'ajax_load_section' %}">
                        {% csrf_token %}
                        <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ form.student_name|as_crispy_field }}
<!--                                <input type="text" class="form-control form-control-alternative" name="school_name" placeholder="School Name" required>-->
                            </div>
                            <div class="col">
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="col">
                                {{ form.phone|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.address|as_crispy_field }}
                            </div>
                            <div class="col">
                                {{ form.standard|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.state|as_crispy_field }}
                            </div>
                            <div class="col">
                                {{ form.city|as_crispy_field }}
                            </div>
                            <div class="col">
                                {{ form.enrollment_no|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr class="my-3">
                                    <h6 class="navbar-heading p-0 text-muted">
                                        <span class="docs-normal center">Student in the school</span>
                                    </h6>
                                <hr class="my-3">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.school|as_crispy_field }}
                            </div>
                            <div class="col">
                                {{ form.section|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr class="my-3">
                                    <h6 class="navbar-heading p-0 text-muted">
                                        <span class="docs-normal center">Student Under the Freelancing Teacher</span>
                                    </h6>
                                <hr class="my-3">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.fteacher|as_crispy_field }}
                            </div>
                            <div class="col">
                            </div>
                        </div>
                            <div class="col text-right">
                                <button type="submit" name="add_stu" class="btn btn-primary my-4">Submit</button>
                            </div>
                        </div>
                    </form>
                    <form method="post" enctype="multipart/form-data" class="needs-validation" id="stubulkform"
                          data-city-url="{% url 'ajax_load_city' %}" data-school-url="{% url 'ajax_load_school' %}"
                           data-teachers-url="{% url 'ajax_load_teachers' %}" data-section-url="{% url 'ajax_load_section' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <hr class="my-3">
                                <h6 class="navbar-heading p-0 text-muted">
                                <span class="docs-normal center">OR, Upload data with file</span>
                                </h6>
                            <hr class="my-3">
                            <div class="row">
                                <div class="col">
                                    <label for="stustate" name="stustate">State*</label>
                                    <select class="form-control" id="stustate" name="stustate" required>
                                        <option value="">---------</option>
                                        {% for mys in stustate %}
                                        <option value="{{ mys.pk }}">{{ mys }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="stucity" name="stucity">City*</label>
                                    <select class="form-control" id="stucity" name="stucity" required>
                                        <option value="">---------</option>
                                        {% for myc in stucity %}
                                        <option value="{{ myc.pk }}">{{ myc }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="stustd" name="stustd">Standard*</label>
                                    <select class="form-control" id="stustd" name="stustd" required>
                                        <option value="">---------</option>
                                        {% for ss in standard %}
                                        <option value="{{ ss.pk }}">{{ ss }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label for="stuschool" name="stuschool">School</label>
                                    <select class="form-control" id="stuschool" name="stuschool">
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="stusec" name="stusec">Section</label>
                                    <select class="form-control" id="stusec" name="stusec">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <h4 class="navbar-heading p-0 text-muted" align="center">
                            <span class="docs-normal">|| OR ||</span>
                        </h4>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label for="stuft" name="stuft">Teacher</label>
                                    <select class="form-control" id="stuft" name="stuft">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <div class="custom-file mb-3">
                                        <input type="file" name="file" class="custom-file-input" id="validate_file" required>
                                        <label class="custom-file-label" for="validate_file">Choose file...</label>
                                        <small id="emailHelp" class="form-text text-muted">
                                            Note*: Don't include ,(comas) in the fields. Use 0 (for Non-ATL) and 1 (for ATL). Check the data twice before uploading the file.</small>
                                    </div>
                                    <button type="submit" name="file_upload_stu" class="btn btn-primary my-4">Upload</button>
                                </div>
                            </div>
                        </div>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    {% if 'error_loading_file' in message.tags %}
                                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                    {% endif %}
                                    {% if 'incorrect_file_format' in message.tags %}
                                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Student Profiles</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Student Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for st in student %}
                        <tr>
                            <th scope="row">
                                <form action="{% url 'delete_student' pk=st.pk %}" method="POST">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#confStuModal">Delete</button>
                                    <button type="button" class="btn btn-secondary btn-sm">View</button>
                                    <div class="modal fade bd-example-modal-lg" id="confStuModal" tabindex="-1" role="dialog" aria-labelledby="confStuModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="confStuModalLabel">Confirmation</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Deleting a Student will also delete all the records associated with her/him.</p>
                                                    <p>Do you still want to do this?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                    <input class="btn btn-secondary" type="submit" value="Delete"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form></th>
                            <td>{{st.student_name|title}}</td>
                            <td>{{st.email}}</td>
                            <td>{{st.phone}}</td>
                            <td>{{st.user.username}}</td>
                            <td>{{st.password}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  var modal = document.getElementById('id01');
  var error = "{{error}}";

  if (error){
    document.getElementById('id01').style.display='block';
    $('#hint_id_password1').hide();

  }

  window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
        //document.getElementById('table').style.display ='block';
    }
  }

  $("#id_state").change(function () {
      var url = $("#studentform").attr("data-city-url");  // get the url of the `load_cities` view
      var stateId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'state': stateId     // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

  });

  $("#id_city").change(function () {
      var url = $("#studentform").attr("data-school-url");  // get the url of the `load_cities` view
      var cityId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'city': cityId     // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_school").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

  });

  $("#id_city").change(function () {
      var url = $("#studentform").attr("data-teachers-url");  // get the url of the `load_cities` view
      var cityId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'city': cityId      // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_fteacher").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });

  $("#id_school").change(function () {
      var url = $("#studentform").attr("data-section-url");
      var schoolId = $(this).val();
      var stdId = $("#id_standard").val();

      $.ajax({
        url: url,
        data: {
          'school': schoolId,
          'standard': stdId
        },
        success: function (data) {
          $("#id_section").html(data);
        }
      });

    });

  $("#stustate").change(function () {
      var url = $("#stubulkform").attr("data-city-url");  // get the url of the `load_cities` view
      var stateId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'state': stateId     // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#stucity").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

  });

  $("#stucity").change(function () {
      var url = $("#stubulkform").attr("data-school-url");  // get the url of the `load_cities` view
      var cityId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'city': cityId     // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#stuschool").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

  });

  $("#stucity").change(function () {
      var url = $("#stubulkform").attr("data-teachers-url");
      var cityId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'city': cityId
        },
        success: function (data) {
          $("#stuft").html(data);
        }
      });

    });

  $("#stuschool").change(function () {
      var url = $("#stubulkform").attr("data-section-url");
      var schoolId = $(this).val();
      var stdId = $("#stustd").val();

      $.ajax({
        url: url,
        data: {
          'school': schoolId,
          'standard': stdId
        },
        success: function (data) {
          $("#stusec").html(data);
        }
      });

    });

</script>
{% endblock %}

